@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root {
    --fonte01: "Bitcount Grid Double", system-ui;
    --fonte02: "Cinzel", serif;
    --fonte03: "Dancing Script";

}
* {
    padding: 0%;
    margin: 0%;
}
html, body {
    min-height: 100vh;
    background-color: aliceblue;

    
}
header {
    background-color: rgb(0, 0, 0);
    color: aliceblue);
    text-align: center;
}
header > h1 {
    padding-top: 30px;
    font-variant: small-caps;
    color: aliceblue;
    font-family: var(--fonte01);
    font-size: 10vw;
}
header > p {
    padding-bottom: 30px;
    color: aliceblue;
}
a {
    color: aliceblue;
    font-weight: bolder;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 35px;
    
    
}
section > p {
    padding-bottom: 2em;
}
.normal {
    background-color: aliceblue;
    color: #000000;
    font-family: var(--fonte03);
    font-size: 1.9em;
}
section.imagem {
    background-color: rgb(0, 0, 0);
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.527);
    background-attachment: fixed;
    


}
.imagem > p {
    display: inline-block;
    background-color: rgba(37, 36, 36, 0.585);
    color: aliceblue;
    font-family: var(--fonte03);
    font-size: 1.9em;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px 0px black;

    
    
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;

}
section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}
footer {
    background-color: #000000;
    text-align: center;
    color: aliceblue;
}